@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

html {
    font-size:100%;
}
body{
    font-family: Yu Gothic Medium, "游ゴシック medium", YuGothic, "游ゴシック体","ヒラギノ角ゴ pro w3", sans-serif;
    line-height: 1.7;
    color: black;
}
a{
    text-decoration: none;
}
.main-nav{
    list-style-type: none;
    display:flex;
    margin-top: 14px;

 }
 .main-nav li{
    color: #000;

}

.menu a{
    color: #000;
}
.main-nav a:hover{
    color: #0bd;
}


.page-header{
    display:flex;
}

.home-content{
    text-align: center;
    margin-top: 4%;

}
.home-content p{
    font-size: 1.125rem;
    margin: 10px 0 42px;
}
.page-title{
    font-family:'Philosopher', 'serif';
    font-size: 5rem;
    font-weight: normal;
}
.register-form{
    width: 1000px;
    height: 500px;
    margin: auto;
}
.register-title{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
}
.form-name{
    text-align: center;
}

.form-email{
    text-align: center;
}
.form-password{
    text-align: center;
}

.form-password-confirm{
    text-align: center;
}
input{
    width: 50%;
    border-bottom:1px solid #000;
}
.register-btn{
    text-align: center;
    margin-top: 30px;

}

